.focus{
    margin-top:10px;
    height:400px;
    width: auto;
}
.nav2{
    background: #14b1ff;
    border-top: 100px;
    height:30px;
    width: 980px ;
    margin-left: auto;
    margin-right: auto;
}

.just-do-it{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: white;
    cursor: pointer;
}

.pan-border{
    width: auto;
    height: auto;
}

.pan-limit{
    width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
}

.pan-table{
    /*border: solid 1px white;*/
    width: 100%;
    border-collapse:collapse;
}

.pan-limit td,th{
    border-left: solid 1px white;
    border-right: solid 1px white;
}.pan-limit tr{
     text-align: center;
 }

.bg1{
    background: #eeeeee;
}
.bg2{
    background: #bbbbbb;
}
.bg-head{
    background: #777777;
}

.pan-selector-border{
    width: auto;
    height: 90px;
}

.pan-selector-limit{
    width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
}

.pan-profile-border {
    width: auto;
    height: 30px;
    /*background-color: #66CCFF;*/
}

.pan-profile-limit {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 100%;
    background-color: #fff;
}

.pan-profile-capacity {
    float: left;
}

.pan-profile-button {
    float: right;
}

.folder-display{
    cursor: pointer;
    color: #001274;
}

#upload-input{
    display: none;
}

#upload-button{

}

.shared{
    color: forestgreen;
}